:root{
    --primary-color: #e50815; 
    --secondary-color: #414141;
    --third-color: #1a2044; 
    --fourth-color: #220e17; 
    --fifth-color: #57607d;
    --sixth-color: #2d2d2d; 
    --emphasis-color1: #c11119;
    --emphasis-color2: #414141; 
    --background-color: #050302; 
    --font-color: #ffffff;
    --font-color2: #000000;
    --font-color3: #babbc5; 
    --aux-color: #ffffff;
}

*{
    margin: 0; 
    padding: 0; 
}

body{
    font-family: Helvetica, sans-serif, Arial; 
    font-size: 16px; 
    line-height: 1.5;
    color: var(--font-color);
    text-size-adjust: 60%;

    background-color: var(--background-color); 
}

header{
}

.hero-img{
    width: 100%;
    height: 55rem;  

    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1000;

    background-image: url(./imgs/hero-img.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;

    /*width: 100%;
    height: 52rem; 
    
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1000; 
    
    background-image: url(./imgs/hero-img.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;*/
}

.header-container{
    width: 100%; 
    height: 55rem; 

    position: relative; 
    top: 0; 
    left: 0;
}

.header-content{
    margin: auto;
    width: 100%;
    height: 55rem;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    position: absolute; 
    top: 0; 
    left: 0;
}


.nav-bar{
    width: 100%;

    display: flex; 
    flex-direction: row;
    align-items: space-between; 
    justify-content: space-between; 
}


.logo{
    margin-left: 22rem;
  
    
    width: 180px;
}

.nav-menu{
    margin-right: 20rem;

    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    gap: 1rem; 

    list-style: none;
}

.language-select{
    /*margin: 2rem; 
    margin-right: 0.5rem; 
    padding: 100rem;*/
}

.log-in-button{
    padding: 0.7rem 1.2rem; 
    border-radius: 5px;
    
    font-size: 0.8rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--primary-color); 

    cursor: pointer; 
}


.hero{
    margin: auto; 
    margin-top: 10rem;
    width: 35%;

    font-size: 1.5rem; 
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: bold;
}

.join-now{
    margin: 0rem auto; 
    width: 40%;

    
    font-size: 1.2rem; 
    text-align: center;
}

.join-now-form{
    padding: 1rem; 

    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
}

.join-now-button{
    padding: 1rem 2rem; 
    border-style: none;
    border-radius: 5px;
    
    
    font-size: 1.3rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--primary-color); 

    cursor: pointer; 
}

.email-search-bar{
    padding: 1rem 9rem; 
    border: solid 1px var(--emphasis-color2); 
    border-radius: 5px;
    
    font-size: 1.2rem;
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--background-color); 

    outline: none; 
}

.email-search-bar:focus{
    border-color: var(--aux-color);
}

.more-info{
    margin: 1rem auto; 
    padding: 0.8rem 1.5rem; 
    border-radius: 20px; 
    width: 60%;

    display: flex; 
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(to right, var(--fourth-color), var(--third-color));
}

.more-info-text-container{
    padding: 0.5rem; 
    width: 50%; 

    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    
    font-size: 1rem;
}

.more-info-button{
    padding: 0.8rem; 
    border-style: none;
    border-radius: 5px;
    
    font-size: 1rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--fifth-color); 

    cursor: pointer; 
}

.tendencies{
    margin: 2rem auto;
    width: 60%;

    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

h2{
    margin: 1rem 0; 
    font-size: 2rem; 
}

.tendencies-nav{
    margin: 1.5rem 0;
    width: 60%;
}

.tendencies-cards-container{
    margin: auto; 
    width: 100%;
    display: flex;
    overflow-x: auto; 
}

.tendency-card{
    padding: 1rem; 


    position: relative; 
    top: 0; 
    left: 0; 

    cursor: pointer; 
}

.tendency-card-img{
    border-radius: 8px;
}

.tendency-card-num{
    position: absolute; 
    bottom: 2.5rem; 
    left: 0.1rem;
    z-index: 1000;

    font-size: 6rem;
    font-weight: bold;
    color: var(--font-color2);
    -webkit-text-stroke: 2px var(--font-color);
}

.more-reasons-to-join{
    margin: 3rem auto;
    width: 60%; 
}

.reasons-container{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

.reason{
    padding: 2rem;
    width: 15rem; 
    height: 17rem;
    border-radius: 20px; 
    
    background: linear-gradient(to right, var(--third-color), var(--fourth-color));
}

.reason p{
    margin: 1rem 0; 
    
    color: var(--font-color3)
}

.frequently-asked-questions{
    margin: 1.5rem auto;
    margin-bottom: 4rem;
    width: 60%;
}

.question-container{
    margin: 0.5rem auto; 
    padding: 1.2rem; 
    width: 100%;

    background-color: var(--sixth-color);
}

.question-container h3{
    font-size: 1.5rem; 
    font-weight: normal;
}

footer{
    margin: 6rem auto; 
    width: 60%;

    color: var(--font-color3);
}

.footer-content{
    font-size: 0.8rem;
}

.footer-links{
    margin: 1rem auto;

    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 9.5rem; 
    flex-wrap: wrap; 
    gap: 0.5rem;

    list-style: none;
}

.footer-link{
    color: var(--font-color3);
}