:root{
    --primary-color: #e50815; 
    --secondary-color: #414141;
    --third-color: #1a2044; 
    --fourth-color: #220e17; 
    --fifth-color: #57607d;
    --sixth-color: #2d2d2d; 
    --emphasis-color1: #c11119;
    --emphasis-color2: #414141; 
    --emphasis-color3: #482465; 
    --emphasis-color4: #161c51; 
    --emphasis-color5: #373b61; 
    --background-color: #050302; 
    --font-color: #ffffff;
    --font-color2: #000000;
    --font-color3: #babbc5; 
    --aux-color: #ffffff;
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: Helvetica, sans-serif, Arial; 
    font-size: 16px; 
    line-height: 1.5;
    color: var(--font-color);
    text-size-adjust: 60%;

    background-color: var(--background-color); 
}


.hero-img{
    width: 100%;
    height: 55rem;  

    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1000;

    background-image: url(./imgs/hero-img.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    opacity: 0.5;
}

.header-container{
    margin: 0; 
    width: 100%; 
    height: 55rem; 

    position: relative; 
    top: 0; 
    left: 0;
}

.header-content{
    margin: auto;
    margin-top: 0;
    width: 100%;
    height: 55rem;
    

    display: flex;
    flex-direction: column;
    align-items: center;


    position: absolute; 
    top: 0; 
    left: 0;
}


.nav-bar{
    margin-top: 0; 
    width: 100%;


    display: flex; 
    flex-direction: row;
    align-items: space-between; 
    justify-content: space-between; 
}


.logo{
    margin-left: 22rem;
  
    
    width: 180px;
}

.nav-menu{
    margin-right: 20rem;

    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    gap: 1rem; 

    list-style: none;
}

.language-select{
    appearance: none;
    width: 100%;
    height: auto;

    padding: 0.7rem 1.5rem; 
    border-radius: 5px;

    color: var(--font-color);   

    background-color: var(--background-color);

    
    overflow-x: visible; 
    overflow-y: visible; 
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;  
}

.language-select:focus{
    outline: none; 
}

.language-select-wrapper{
    position: relative;
    width: 8rem;
}

.language-select-wrapper::after{
    content: "▼"; /* Unicode for down arrow */
    position: absolute;
    right: 10px; /* Adjust distance from the right edge */
    top: 50%;
    transform: translateY(-50%);
    color: white; /* Arrow color */
    pointer-events: none; /* Prevent interaction with the pseudo-element */
    font-size: 0.7rem; /* Adjust arrow size */
}

.tendencies-select{
    appearance: none;
    width: 100%;
    height: auto;

    padding: 0.7rem 1.5rem; 
    border-radius: 5px;

    color: var(--font-color);   

    background-color: var(--background-color);

    
    overflow-x: visible; 
    overflow-y: visible; 
    text-wrap-mode: nowrap;
    white-space-collapse: preserve;  
}

.tendencies-select:focus{
    outline: none; 
}

.tendencies-select-wrapper{
    position: relative;
    width: 8rem;
}

.tendencies-select-wrapper::after{
    content: "▼"; /* Unicode for down arrow */
    position: absolute;
    right: 10px; /* Adjust distance from the right edge */
    top: 50%;
    transform: translateY(-50%);
    color: white; /* Arrow color */
    pointer-events: none; /* Prevent interaction with the pseudo-element */
    font-size: 0.7rem; /* Adjust arrow size */
}

.log-in-button{
    padding: 0.7rem 1.2rem; 
    border-radius: 5px;
    
    font-size: 0.8rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--primary-color); 

    cursor: pointer; 

    transition: background-color 0.3s ease; 
}

.log-in-button:hover{
    background-color: #c11119;
}


.hero{
    margin-top: 10rem;
    margin-bottom: 1rem;
    width: 35%;

    font-size: 1.5rem; 
    text-align: center;
}

h1{
    font-size: 4rem;
    font-weight: bold;
}

.join-now{
    margin: 0rem auto; 
    width: 40%;

    
    font-size: 1.2rem; 
    text-align: center;
}

.join-now-form{
    padding: 1rem; 

    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
}

.join-now-button{
    padding: 1rem 2rem; 
    border-style: none;
    border-radius: 5px;
    
    
    font-size: 1.3rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--primary-color); 

    cursor: pointer; 

    transition: background-color 0.3s ease; 
}

.join-now-button:hover{
    background-color: var(--emphasis-color1);
}

.email-search-bar{
    padding: 1rem 6.5rem; 
    border: solid 1px var(--emphasis-color2); 
    border-radius: 5px;
    
    font-size: 1.2rem;
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--background-color); 

    outline: none; 
}

.email-search-bar:focus{
    border-color: var(--aux-color);
}

.more-info{
    margin: 1rem auto; 
    padding: 0.8rem 1.5rem; 
    border-radius: 20px; 
    width: 60%;

    display: flex; 
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(to right, var(--fourth-color), var(--third-color));

    transition: scale 0.3s ease;
}

.more-info:hover{
    scale: 1.02;
    background: linear-gradient(to right, var(--emphasis-color3), var(--emphasis-color4));
}

.more-info-text-container{
    padding: 0.5rem; 
    width: 50%; 

    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    
    font-size: 1rem;
}

.more-info-button{
    padding: 0.8rem; 
    border-style: none;
    border-radius: 5px;
    
    font-size: 1rem;
    font-weight: bold; 
    color: var(--font-color);
    text-decoration: none; 
    
    background-color: var(--fifth-color); 

    cursor: pointer; 

    transition: background-color 0.3s ease; 
}

.more-info-button:hover{
    background-color: var(--emphasis-color5);
}

.tendencies{
    margin: 2rem auto;
    width: 60%;

    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}

h2{
    margin: 1rem 0; 
    font-size: 2rem; 
}

.tendencies-nav{
    margin: 1.5rem 0;
    width: 60%;

    display: flex;
    gap: 1rem;
}

.tendencies-cards-container{
    margin: auto; 
    width: 100%;
    display: flex;
    overflow-x: auto; 
}

.tendency-card{
    padding: 1rem; 


    position: relative; 
    top: 0; 
    left: 0; 

    cursor: pointer; 
}

.tendency-card-img{
    border-radius: 8px;
}

.tendency-card-num{
    position: absolute; 
    bottom: 2.5rem; 
    left: 0.1rem;
    z-index: 1000;

    font-size: 6rem;
    font-weight: bold;
    color: var(--font-color2);
    -webkit-text-stroke: 2px var(--font-color);
}

.more-reasons-to-join{
    margin: 3rem auto;
    width: 60%; 
}

.reasons-container{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
}

.reason{
    padding: 2rem;
    width: 15rem; 
    height: 20rem;
    border-radius: 20px; 
    
    background: linear-gradient(to right, var(--third-color), var(--fourth-color));
}

.reason p{
    margin: 1rem 0; 
    
    color: var(--font-color3)
}

.frequently-asked-questions{
    margin: 1.5rem auto;
    margin-bottom: 4rem;
    width: 60%;
}

.question-container{
    margin: 0.5rem auto; 
    padding: 1.2rem; 
    width: 100%;

    background-color: var(--sixth-color);

    cursor: pointer; 

    transition: background-color 0.3s ease;; 
}

.question-container:hover{
    background-color: var(--emphasis-color2);
}

.question-container h3{
    font-size: 1.5rem; 
    font-weight: normal;
}

footer{
    margin: 6rem auto; 
    width: 60%;

    color: var(--font-color3);
}

.footer-content{
    font-size: 0.8rem;
}

.footer-links{
    margin: 1rem auto;

    display: flex; 
    flex-direction: column;
    width: 100%;
    height: 9.5rem; 
    flex-wrap: wrap; 
    gap: 0.5rem;

    list-style: none;
}

.footer-link{
    color: var(--font-color3);
}

.footer-content p{
    margin: 1rem 0;
}

@media screen and (max-width: 1275px) {
    .header-container{
        width: 100%;
        height: 40rem;
    }

    .header-content{
        width: 100%;
        height: 40rem;
    }

    .hero{
        margin-top: 5rem;
    }

    .hero-img{
        height: 40rem;
    }

    .nav-bar{
        justify-content: space-around;
    }
    .logo{
        margin: 0; 
        width: 100px; 
    }
    .nav-menu{
        margin: 0; 

        justify-content: flex-end;
        flex-wrap: wrap; 
    }

    .hero{
        width: 80%;
    }

    .join-now p{
        margin: auto; 
        width: 80%;
    }

    .log-in-button{
        padding: 0.7rem 0.8rem;  
    }

    .language-select-wrapper{
        width: 5rem; 
    }

    .language-select{
        padding: 0.7rem 1rem; 
    }

    .join-now{
        width: 100%;
    }

    .join-now-form{
        margin: 1rem 2rem; 
        flex-wrap: wrap; 
    }

    .join-now-button{   
        font-size: 1rem;

    }

    .email-search-bar{
        width: 2.5rem; 
        font-size: 1rem;
    }

    .more-info{
        width: 80%;
    }

    .tendencies{
        width: 80%;
    }

    .more-reasons-to-join{
        width: 80%;
    }

    .reasons-container{
        flex-direction: column;
    }

    .reason{
        width: 100%;
        height: auto; 
    }

    .frequently-asked-questions{
        width: 80%;
    }

    footer{
        width: 80%;
    }
}
